@model Cart
<div class="">
    @if (Model .Lines.Count()>0)
    {
        <small class="navbar-text">
            <b>Your Carts</b>
            @Model.Lines.Sum(x=>x.Quantity)item(s)
            @Model.ComputeTotalValue().ToString("c")

        </small>
    }
    <a class=" "asp-page="/Cart"
       asp-return-retunurl="@ViewContext.HttpContext.Request.PathAndQuery()" style="color:white;">
        <i class="fas fa-shopping-cart">&nbsp;  Go Cart</i>
    </a>
</div> 